@keyframes city-change{
  from{
    content: 'Dhaka';
  }
  14.3%{
    content: 'Khulna';
  }
  28.6%{
    content: 'Chittagong';
  }
  42.9%{
    content: 'Sylhet';
  }
  57.2%{
    content: 'Barisal';
  }
  71.5%{
    content: 'Rajshahi';
  }
  85.8%{
    content: 'Mymensingh';
  }
  100%{
    content: 'Rangpur';
  }
}