$pathToResources: '../res' !default;

// loads downloaded fonts with @fontface rule
@mixin loadLocalFonts($fontName, $fontFileName, $fontWeight) {
  @font-face {
    font-family: $fontName;
    src: url(#{$pathToResources + '/fonts/' + $fontFileName});
    font-weight: $fontWeight;
  }
}

$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

@include loadLocalFonts(
  'LemonMilk',
  'LemonMilkBold.otf',
  map-get($font-weights, 'bold')
);
@include loadLocalFonts(
  'LemonMilk',
  'LemonMilkMedium.otf',
  map-get($font-weights, 'medium')
);
@include loadLocalFonts(
  'LemonMilk',
  'LemonMilkRegular.otf',
  map-get($font-weights, 'regular')
);
