@use 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'LemonMilk', sans-serif;
  font-weight: map-get($map: fonts.$font-weights, $key: 'regular');
  font-size: 16px;
  color: #2c2d24;
}
