@use 'sass:string';

$pathToResources: '../res' !default;

/// Returns image url with provided fileName and fileExtension
@function createImageURL($fileName, $fileExtension: 'jpg') {
  @return #{url($pathToResources + '/img/' + $fileName + '.' + $fileExtension)};
}

/// Generates a grid with equal columns and optional gap, with centered items.
@mixin createGrid($numberOfColumns, $gap: false) {
  display: grid;
  grid-template-columns: repeat($numberOfColumns, 1fr);
  @if $gap {
    gap: $gap;
  }
}

/// Creates a string with the colors provided, which will be used in linear-gradient()
@function _generateColorString($colors) {
  $string: '';
  $count: 1;
  @each $color in $colors {
    @if $count==1 {
      $string: $string + $color;
    } @else {
      $string: $string + ',' + $color;
    }

    $count: $count + 1;
  }
  @return $string;
}

/// Creates a centered, non-repeating background image with optional gradient.
@mixin backgroundImage(
  $fileName,
  $gradient: false,
  $gradientDirection: 'to right',
  $fileExtension: 'jpg'
) {
  @if ($gradient) {
    $colorString: _generateColorString($gradient);
    background: linear-gradient(
        string.unquote($gradientDirection),
        string.unquote($colorString)
      ),
      createImageURL('fog_and_mountains', $fileExtension);
  } @else {
    background: createImageURL('fog_and_mountains', $fileExtension);
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
