$bp-max-tablet: 1023px;
$bp-max-phone: 767px;

@media only screen and (max-width: $bp-max-tablet){
  .nav {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-auto-flow: row;
    height: 12vh;
  }

  .main-nav {
    grid-row: 2;
    grid-column: 1;
    justify-items: center;
  }
}

@media only screen and (max-width: $bp-max-phone){
  html {
    font-size: 0.7rem;
  }

  .text {
    h1 {
      font-size: 1.7rem;
    }
  }

  .btn {
    padding: 9px 14px;
  }
}