@use 'fonts';
@use 'utils';
@use 'resets';
@use 'animations';

$primary-color: #09bc8a;
$secondary-color: #f09d51;
$secondary-color2: #cdb7bf;
$black: #2c2d24;
$white: #ffffff;

%center-item {
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Buttons =========================================================== */

.btn {
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  color: $black;
  border-radius: 20px;
  background-color: $primary-color;
  transition: background-color 0.5s;
  margin-top: 10px;
}

.btn:hover,
.btn:active {
  background-color: #08966e;
}

.btn-pink {
  background-color: $secondary-color2;
}

.btn-pink:hover,
.btn-pink:active {
  background-color: #aa999f;
}

// header
header {
  display: grid;
  height: 100vh;
  @include utils.backgroundImage(
    'fog_and_mountains',
    rgba(255, 255, 255, 0.425) rgba(255, 255, 255, 0.425)
  );

  @extend %center-item;
}

// reusables
a.active {
  text-shadow: 2px 2px 0px $secondary-color;
}

// navigation bar
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  @include utils.createGrid(3);
  grid-template-columns: 25% 25% 1fr;
  align-items: center;
  background: rgba(255, 255, 255, 0.534);
}

// logo text
.logo {
  @extend %center-item;
  font-family: 'Yatra One';
  text-shadow: 2px 2px 0px $primary-color;
}

// navigation links
.main-nav {
  @include utils.createGrid(4);
  list-style: none;
  grid-column: 3;

  a {
    font-weight: map-get($map: fonts.$font-weights, $key: 'medium');
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05rem;
    color: inherit;

    &:hover,
    &:active {
      text-shadow: 2px 2px 0px $secondary-color2;
    }
  }
}

.text {
  @include utils.createGrid(0, 5px);
  @extend %center-item;
  h1 {
    font-size: 2.5rem;
  }

  .city-names::after {
    content: 'Dhaka';
    color: $primary-color;
    text-shadow: 2px 2px 0px $secondary-color2;
    animation: city-change 10s linear infinite alternate-reverse;
  }
}
